ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

li[data-collapse="1"] ul {
    display: none;
}

#LessonDirectory {
    margin: 0;
    padding: 0;
}

.directory {
    cursor: pointer;
    user-select: none; 
}

li[data-lessonname] {
    cursor: pointer;
    user-select: none; 

}

.directory::before {
    content: "\25B9";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

li[data-collapse="0"] > .directory::before {
    content: "\25B5" !important;
}
    

#MenuButton{
    position: absolute;
    top: 1px;
    left: 225px;;
}


header {
    width: 100%;
    height: 5vh;
}


#content{
    display: block;
    width: 100vw;
    height: 95vh;
    border: 1px solid black;
    position: absolute;
}

#DirectoryPage,
#ExamPage{
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
}
#DirectoryPage{
    left:0px;
    background-color: aquamarine;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}

#ExamPage{
    left:0px;
    background-color: antiquewhite;
    display: none;
}

#TaskSection{
    background-color: whitesmoke;
    width: 100%;
    position: relative;
    height: 70px;
    margin-bottom: 20px;
}

#TaskText {
    width: 100%;

    text-align: center;
    padding-top: 10px;
}

#LessonProgress{
    position: absolute;
    bottom: 2px;
    height: 10px;
    background-color: aliceblue;
    border: 1px solid white;
    width: 160px;
}

#LessonProgressProgressBarGreen,
#LessonProgressProgressBarRed{
    position: relative;
    height: 10px;
    float: left;
}

#LessonProgressProgressBarGreen{
    background-color: greenyellow;
    width: 30%;
}

#LessonProgressProgressBarRed{
    background-color: red;
    width: 44%;
}

#LessonAttempt{
    position: absolute;
    width: 130px;
    bottom: 2px;
    height: 15px;
    right: 0px;
    font-size: 12;
    text-align: right;
    margin-right: 10px;
}

#ResultSection{
    margin-top: 20px;
    background-color: wheat;
    width: 100%;
    position: relative;
    height: 150px;
}
#ResultText {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}      


#InputSection{
    margin-top:5px;
    margin-bottom:5px;
    position: relative;
    height: 50px;
}

#LessonInput{
    position: absolute;
    margin-left: 5px;
    margin-right: 5px;
    width: 95%;
    top:0px;
    font-size: 14;
}

#ButtonPanel{
    position: absolute;
    top:30px;
    display: flex;
}

#ButtonPanel button{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16;
}

#LessonInfo,
#LessonResult {
    z-index: 2;
    display: none;
    position: fixed;
    background-color: rgb(201,201,201);
    width: 280px;
    height: 250px;
    left: 17px;
    top: 50px;
    border: 1px solid;
}

#LessonResult{
    height: 285px !important;

}

#LessonInfo span,
#LessonResult span {
    margin-top: 2px;
    display: block;
    font-weight: bold;
}

#LessonInfo output,
#LessonResult output {
    display: block;
    font-weight: bold;
    width: 94%;
    
    height: 18px;
    padding: 2px;
    border: 1px solid;
    background-color: white;
    margin-left: 2%;
}

#LessonInfo  button,
#LessonResult button {
    float:left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
}

#Menu {
    z-index: 2;
    display: none;
    position: fixed;
    background-color: rgb(201,201,201);
    width: 96%;
    height: 30vh;
    left: 17px;
    border: 1px solid;
}

#Menu button {
    display: block;
    width: 100%;
}


#GlobalInfo{
    z-index: 3;
    display: none;
    position: fixed;
    background-color: rgb(201,201,201);
    width: 98%;
    height: 30vh;
    left: 17px;
    border: 1px solid;
}
            
#GlobalInfoText{
    overflow-y: scroll;
    width:100%;
    height: 100%;
    padding: 3px;
    
}